<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519935070106-m1uhd9011ddf670pa9ifquj5p7baasin.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519935070106-m1uhd9011ddf670pa9ifquj5p7baasin</string>
	<key>API_KEY</key>
	<string>AIzaSyCaywnpuvo-AtQajFj_N243TJ1HXEnrURk</string>
	<key>GCM_SENDER_ID</key>
	<string>519935070106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rw.firebase.gettingstarted</string>
	<key>PROJECT_ID</key>
	<string>its-ios2</string>
	<key>STORAGE_BUCKET</key>
	<string>its-ios2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519935070106:ios:fae416b66683b7d3e0f423</string>
	<key>DATABASE_URL</key>
	<string>https://its-ios2-default-rtdb.firebaseio.com</string>
</dict>
</plist>